
.icon-user:before { content: '\e800'; } /* '' */
.icon-play:before { content: '\e801'; } /* '' */
.icon-link:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-right-open-mini:before { content: '\e804'; } /* '' */
.icon-menu-1:before { content: '\e805'; } /* '' */
.icon-down-open:before { content: '\e806'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
